@import url(../components/phone.css);

.features {
  padding-top: 70px;
  overflow: hidden;
}

.features .section__heading {
  margin: 40px auto;
  opacity: 0;
}

.features__block {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
  min-height: 100vh;
}

.features__block--reverse {
  grid-template-columns: 1fr 1.3fr;
}

.features__block--reverse .features__block-right {
  grid-row: 1;
}

.features__block-left,
.features__block-right {
  display: flex;
  justify-content: center;
  width: 100%;
}

.features__block-left {
  justify-content: center;
}

.features__block-heading {
  max-width: 600px;
  font-size: var(--text-size, 5rem);
  font-weight: 500;
  opacity: 0;
}

.features__block-list {
  max-width: 480px;
  margin-top: 55px;
  font-size: var(--text-size, 1.8rem);
  list-style: none;
}

.features__block-list__item {
  display: inline-flex;
  opacity: 0;
}

.features__block-list__item::before {
  content: '';
  flex-shrink: 0;
  display: block;
  width: 12px;
  height: 12px;
  margin-top: 6px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 100%;
}

.features__block-list__item + .features__block-list__item {
  margin-top: 40px;
}

.features__block .phone {
  --height: 80vh;
  filter: drop-shadow(1px 16px 13px rgba(0, 0, 0, 0.2));
  opacity: 0;
}

.features__block:nth-child(2) .phone {
  --color: #367193;
}

.features__block:nth-child(4) .phone {
  --color: #572966;
}

/* MEDIA QUERIES */

@media (max-width: 1499px) {
  .features__block-heading {
    --text-size: 4rem;
  }
  .features__block-list {
    --text-size: 1.6rem
  }
}

@media (max-width: 1229px) {
  .features__block {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media (max-width: 749px) {
  .features .section__heading {
    position: relative;
    margin: 70px -15px;
    padding: 70px 0;
  }

  .features .section__heading::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(#ffffff00 65%, #ffffff 87%);
  }

  .features__block {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .features__block + .features__block {
    margin-top: 90px;
  }

  .features__block-list__item + .features__block-list__item {
    margin-top: 20px;
  }

  .features__block-heading {
    --text-size: 2.5rem;
  }

  .features__block-list {
    margin-top: 40px;
  }

  .phone {
    --height: 60vh;
  }
}