.footer {
  padding: 30px 15px 30px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: start;
  column-gap: 40px;
  padding: 30px;
  border: 1px solid #000;
  border-radius: 30px;
  box-shadow: 2px 2px 0px #000000;
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-container:hover {
  box-shadow: none;
}

.footer .logo {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  margin-left: auto;
}

.footer__nav-heading {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer__nav-link {
  position: relative;
  gap: 5px;
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
}

.footer__nav-link + .footer__nav-link {
  margin-top: 10px;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__nav-link:hover::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 19px;
  right: -24px;
  top: -2px;
  background-image: url('../../assets/icons/external-link.svg');
  background-repeat: no-repeat;
}

/* MEDIA QUERIES */

@media (max-width: 889px) {
  .footer-container {
    grid-template-columns: 1fr auto;
    row-gap: 30px;
  }

  .footer .logo {
    grid-column: 1 / 2 span;
  }

  .footer__nav {
    width: 100%;
  }
}


@media (max-width: 539px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: none;
  }
}