.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 550px;
  max-height: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: auto;
  font-size: 1.7rem;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 12px;
  background: none;
  border: none;
  font-size: 3.5rem;
  line-height: 2rem;
  cursor: pointer;
}

.modal-body {
  margin-top: 40px;
  margin-bottom: 30px;
}
